name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: Debug Spotify secret length
        run: echo "${{ secrets.SPOTIFY_TOKENS }}" | wc -c
      - uses: lowlighter/metrics@latest
        with:
          filename: svg/metrics.column-1.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: "header, activity, community, repositories, metadata"
          plugin_music: yes
          plugin_music_mode: top
          plugin_music_provider: spotify
          plugin_music_token: ${{ secrets.SPOTIFY_TOKENS }}
          plugin_music_time_range: short
          plugin_music_top_type: tracks
          config_padding: 0, 100
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: svg/metrics.column-2.svg
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_stars: yes
          plugin_stars_limit: 3
          config_padding: 0, 100
      - uses: lowlighter/metrics@latest
        with:
          filename: svg/metrics.languages.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_indepth_custom: Mr-Jamilo/mcms
          plugin_languages_details: lines, bytes-size
          commits_authoring: Jamie Lo, Mr-Jamilo
          plugin_languages_analysis_timeout: 60
          plugin_languages_analysis_timeout_repositories: 15
      - uses: lowlighter/metrics@latest
        with:
          filename: svg/metrics.recent.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 0
          plugin_activity_filter: issue, pr, release, fork, review, ref/create
